<section>
    <div class="container">
        <h2>About me</h2>
        <p id="main_text" >Write some information about yourself that is IT related. Why are you passionate about coding?Show a desire to learn new technologies 
        Add a brief description of your problem-solving approach.You can include some key traits like: analytical thinking, creativity, persistence and collaboration.
        </p>
        <div class="details">
             <img src="house.png" alt="">
             <p>Based in Worms</p>
        </div>
        <div class="details">
             <img src="laptop.png" alt="">
             <p>Open to work remote</p>
        </div>
       <img id="button" src="button_letstalk.png" alt="">
       
    </div>
    <div>
        <img id="foto" src="foto.jpeg" alt="">
    </div>
    
   

</section>
