<section>
    <div class="container">
        <h1>About me</h1>
        <p>Write some information about yourself that is IT related. Why are you passionate about coding?Show a desire to learn new technologies 
        Add a brief description of your problem-solving approach.You can include some key traits like: analytical thinking, creativity, persistence and collaboration.
        </p>
        <div class="details">
             <img src="house.png" alt="">
             <p>Based in Worms</p>
        </div>
       
    </div>
   

</section>
