section {
    height: 681px;
    width: 100%;
    background-color: #fffcf3;
    display: flex;
    gap: 100px;
}

h2 {
  font-family: "Syne";
  font-size: 78px;
  font-style: normal;
  font-weight: 800;
  margin: 0;
   max-width: 1440x;

}

.container {
  padding-left: 100px;
  width: 619px;
  height: 426px;
  display: flex;
  flex-direction: column;
  font-size: 22px;
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

}

.details {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

#button {
  width: 213px;
  height: 68px;
  margin-left: 303px;
  font-size: 22px;
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  transition: transform 0.3s ease;
}

#button:hover {
 transform: scale(1.1); 
 font-weight: 600;
}

#foto {
  padding-top: 110px;
  width: 553px;
  height: 553px;
  gap: 100px;

}