section {
    height: 100vh;
    width: 100%;
    max-width: 1440x;
    background-color: #fffcf3;
}

h1 {
  font-family: "Syne";
  font-size: 78px;
  font-style: normal;
  font-weight: 800;
  margin: 0;
   max-width: 1440x;

}

.container {
  padding-left: 100px;
  width: 619px;
  height: 426px;
  display: flex;
  flex-direction: column;

}

.details {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}