<section>
    <div id="FD_div">
        <h1>Frontend</h1>
        <h1>Developer</h1>
    </div>
        <div id="hero_name">
            <img id="vector" src="/vector_hero.png" alt="">
            <p id="name">Lutz Amgarten</p>
        </div>
        <div id="hero_pfeil_email">
            <a id="email_tag" href="mailto:lutz.amgarten@web.de">"lutz.amgartenweb.de"</a>
            <div id="scroll">
                <img class="arrow" src="pfeil_1.png" alt="">
                <p>Scroll <br>Down</p>
            </div>
            
        </div>
</section>
