section {
    height: 100vh;
    width: 1440px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #fffcf3;
}


h1 {
  font-family: "Syne";
  font-size: 200px;
  font-style: normal;
  font-weight: 800;
}