<section>
    <div id="skill_div">
        <h2 id="skills">My Skills</h2>
    
        <div id="skill_tree">
            <img id="itm_skill" src="HTML.png" alt="">
            <img id="itm_skill" src="CSS.png" alt="">
            <img id="itm_skill" src="ANGULAR.png" alt="">
            <img id="itm_skill" src="JS.png" alt="">
            <img id="itm_skill" src="TS.png" alt="">
            <img id="itm_skill" src="SCRUM.png" alt="">
            <img id="itm_skill" src="REST_API.png" alt="">
            <img id="itm_skill" src="GIT.png" alt="">
        </div>
        <div id="zusatz">
            <img src="skill_zusatz.png" alt="">
            <p>Don't see the skill you need?</p>
            <a href="">Contact me</a>
            <p>I'm always to learn!</p>
        </div>
    </div>
</section>
