nav {
    height: 92px;
    width: 1440px;
    background-color: #fffcf3;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
}

button {
    background-image: url(./../../../../public/burger.png);
    border: none;
    height: 40px;
    width: 40px;
    background-color: #fffcf3;
}

button:hover {
    cursor: pointer;
}

img {
   
    width: 67px;
    height:67px;
}