nav {
    height: 92px;
    max-width: 1440px;
    background-color: #fffcf3;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    
}

img:hover {
    cursor: pointer;
}

img {
    width: 67px;
    height:67px;
}

button {
    width: 40px;
    height: 32px;
    gap: 17px;
}

