nav {
    height: 92px;
    background-color: #fffcf3;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    
}

img:hover {
    cursor: pointer;
}

img {
    width: 40px;
    height:32px;
    gap: 17px;
}

button {
   background: none;
   border: none;
   padding-left: 17px;

}

#burger {
    width: 40px;
    height: 32px;
}

#DE {
    padding-top: 3px;
    padding-right: 6px;
    padding-bottom: 3px;
    padding-left: 6px;
    gap: 6px;
    width: 28px;
    height: 15px;
}

#EN {
    padding-top: 3px;
    padding-right: 6px;
    padding-bottom: 3px;
    padding-left: 6px;
    gap: 6px;
    width: 28px;
    height: 16px;
}


